/********** WIDGET ***********/

.widget {
    display: inline-block;
    border-radius: 15px;
    background-color: white;
    box-shadow: 1px 1px 4px #ccc;
}

.widget-title {
    margin: 15px 0;
}


/********** TABLE ***********/

.grades-table {
    width: 100%;
    
}

.grades-table tr td {
    padding: 9px 20px;
}

.grades-table tr:nth-child(odd){
    background-color: var(--light-gray);
    color: var(--light-blue);
}

.grades-table tr:nth-child(odd) a{
    color: var(--light-blue);
}

.grades-table tr:nth-child(even) {
    color: var(--gray);
}

.grades-table tr td:first-child {
    text-align: left;
}

/******** BUTTONS ***********/

.cta-button {
    border: 0;
    background-color: var(--light-blue);
    color: white;
    padding: 5px 25px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}


/*********** TEST ***********/

.question-container {
    color: var(--gray);
    width: 85%;
    margin: 0 auto;
}

.question-container .question-item {
    padding: 20px 0;
    text-align: left;
}

.question-container .questions-list .answers-list {
    margin-top: 20px;
}

.question-container .questions-list .answers-list .answers-listgroup {
    display: flex;
    margin-bottom: 20px;
}

.question-container .questions-list .answers-list .answer-item{
    list-style-type: lower-alpha;    
    overflow-wrap: break-word;
    flex: 45%;
    margin-left: 10px;
}

.question-container .submit-test-btn {
    border: 0;
    border-radius: 10px;
    background-color: var(--light-blue);
    color: white;
    padding: 10px 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.main-section .test-creation-widget {
    margin: 20px 0;
    width: 80%;
    position: relative;
    padding-bottom: 60px;
}

.test-creation-widget .test-creation-title {
    font-size: 1.3em;
}

.test-creation-widget .test-creation-settings {
    text-align: left;
    color: var(--gray);
}

.test-creation-settings input[type="text"] {
    border-radius: 10px;
    border: 1px solid var(--light-gray);
    padding: 2px;
}

.test-creation-settings input[type="text"]:focus {
    border: 1px solid var(--gray);
    transition: border .3s;
}

.test-creation-widget .add-question-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 20px;
    bottom: 20px;
    color: var(--light-blue);
    font-size: 1.5em;
    border: 3px solid var(--light-blue);
    border-radius: 50%;
    cursor: pointer;
}

.test-creation-widget .add-question-icon .fas {
    padding: 5px;
    margin-top: -2px;
}


