body {
    font-family: 'Roboto', sans-serif;
}

/************ GENERAL ***********/

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--gray);
}

h2 {
    color: var(--light-blue);
}

h4 {
    color: var(--gray);
}

h5 {
    color: var(--light-blue);
    margin: 0;
}



/************ SIDEBAR ***********/

.logo {
    font-weight: 500;
    color: var(--light-blue);
    font-size: 1.3em;
}